.PageTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  margin: 3em 3em 10em 3em;
  padding: 3em;
  background: rgba(255, 255, 255, .05);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @media only screen and (max-width: 600px) {
    min-height: 1px;
  }
}
