@import "../../../styles/utils/colors";
.Header {
  height: 60px;
  width: 100%;
  padding: 1em 1em;
  border-bottom: 1px solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Oswald;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: $secondary;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}




