@import "../../../../styles/utils/colors";
.Logo {
  position: relative;
  margin: 0 auto 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 600px) {
    margin: 0 0 1em 0;
  }
}

.Logo-Image {
  height: 40px;
  width: 40px;
  img {
    height: 40px;
    width: 40px;
  }
}

.Logo-Name {
  a {
    font-family: Oswald;
    color: $secondary;
    text-decoration: none;
    &:visited {
      color: $secondary;
    }
  }
}
