@import "../../../styles/utils/colors";
.Section {
  min-height: 500px;
  width: 100%;
  padding: 1em 2em;
  background-color: $bg-white;
  display: flex;
  justify-content: center;
  align-items: center;


  &.white {
    background-color: $bg-white;
    color: $eerie-black;
    -webkit-box-shadow: inset 0px 0px 10px 0px #000000;
    -moz-box-shadow: inset 0px 0px 10px 0px #000000;
    -o-box-shadow: inset 0px 0px 10px 0px #000000;
    box-shadow: inset 0px 0px 10px 0px #000000;
  }
  &.primary {
    background-color: $primary;
    color: $bg-white;
  }
  .Section-Content {
    padding: 2em 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.right {
    flex-direction: row;
    .Section-Content {
      flex-direction: row-reverse;
    }
  }
  .description {
    font-size: 30px;
    flex: 1 1 70%;
    margin: 0 2em;  }
  .icon {
    flex: 1 1 30%;
    font-size: 128px;
    text-align: center;
  }
}
